body {
}
.topCol {
    background-color: #DDDDDD;
    width: 100%;
    float: initial;
    height: 100px;
}
        
.rightCol {
    background-color: #BBBBBB;
    width: 520px;
    float: left;
    height: 800px;
   
}

.leftCol {
    background-color: #999999;
    width: 200px;
    float: left;
    height: 800px;
}

